<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'portfolio_app/css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'portfolio_app/img/favicon.png' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'portfolio_app/js/script.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="{% static 'portfolio_app/img/bitmoji_cropped.png' %}" alt="Logo">
        <h2>Who Am I?</h2>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'bio' %}">Bio</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
            <li><a href="{% url 'travel' %}">Travel</a></li>
        </ul>
    </div>
    <div class="bio">
        <h1>Bio</h1>
        <p>This is who I am</p>
    </div>
    <div class="footer">
        <h4>Contact Me</h4>
        <div class="footer_links">
            <a href="mailto:soodorama@gmail.com?Subject=Hi%20Neil%21"><img src="{% static 'portfolio_app/img/logo_email.png' %}" alt="Email"></a>
            <a href="https://www.linkedin.com/in/nsood/"><img src="{% static 'portfolio_app/img/logo_linkedin.png' %}" alt="LinkedIn"></a>
            <a href="https://github.com/soodorama"><img src="{% static 'portfolio_app/img/logo_github.png' %}" alt="GitHub"></a>
        </div>
    </div>
</div>
</body>
</html>